mixin fancybox(data)
	a.fancybox(
		class= attributes.class
		href= data.link
		data-fancybox= data.group || ''
		data-caption= data.title
	)

		if data.bg
			.fancybox__bg(
				style='background-image: url("' + data.link + '");'
				role='img'
				aria-label= data.title
				title= data.title
			)
		else
			img(
				src= data.link
				alt= data.title
				title= data.title
			)
