include fancybox
include price
include ../components/num

mixin item(data)
	.item

		.item__img-wrap

			.item__row
				a.item__img-link(
					href= data.img
					data-fancybox
					data-caption= data.title
					style= data.size ? 'width: ' + data.size.width + 'px' + '; height: ' + data.size.height + 'px' : ''
				)
					.item__img(
						style='background-image: url("' + data.img + '");'
						role='img'
						aria-label= data.title
						title= data.title
					)

		.item__text-wrap

			.item__text-col

				.item__row

					a.link.link_gray.item__title(href= data.link)= data.title
					ul.item__params

						each val in data.params
							li.item__param
								span.item__param-name= val.name + ': '
								span.item__param-val= val.value

				.item__row
					a.link.item__link(href= data.link)
						i.fa.fa-info-circle
						|
						| Подробнее

			.item__text-col.item__btns-wrap
				.item__row

					.item__price-wrap
						.item__price-col

							if data.old_price
								+price({
									price: data.old_price,
									old: true
								})(class='item__old-price')

							+price({
								price: data.price,
								strong: data.old_price
							})(class='item__price')

						a.favourite.item__favourite(href='#')

				.item__row
					+num
				.item__row
					a.btn.btn_wide(href='#') В корзину